* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --bgcolor: #f0ebef;
    --yellow: #f2a93b;
    --border: #f4edec;

}

body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
}

main {
    height: auto;
    width: 100vw;
}

header {
    width: 100%;
    padding-top: 1rem;
    height: 6rem;
    text-align: center;
    background-color: var(--bgcolor);
    color: var(--yellow);
}

header p:nth-child(2) {
    color: black;
}

header p:nth-child(3) {
    font-style: italic;
}

input {
    width: 33rem;
    border: 1px solid var(--border);
    height: 2rem;
    border-radius: 20px;
    outline: 1px solid var(--border);
    margin: 2rem auto;
    display: block;
    padding-left: 1.5rem;
}

.clickAbles button {
    width: max-content;
    border: none;
    /* padding: 0rem 1rem; */
    border-radius: 20px;
    background-color: white;
}

.clickAbles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.clickAbles button:not(:last-of-type) {
    background-color: #f2a93b;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.5rem;
    height: 1.5rem;
    width: 6rem;
}

.clickAbles button:not(:last-of-type) img {
    width: 0.5rem;
    height: 1rem;
}

#generate {
    margin-top: 3rem;
    width: 100%;
    background-color: var(--bgcolor);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-x: hidden;
    padding: 1rem;
}

.topten {
    background-color: var(--bgcolor);
    width: 100%;
    height: auto;
    margin-top: 3rem;
    border: 2px solid var(--border);

}

.heading {
    background-color: white;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

}

.heading button {
    background-color: #f2a93b;
    border: none;
    padding: 0.5rem 1rem;
    margin-left: 1rem;

}



#generate2 {
    padding: 2rem 0rem;
    display: flex;
    width: 78vw;
    margin: auto;
    gap: 0.7rem;
    flex-direction: column;
}

#generate2 p {
    height: 2rem;
    display: flex;

}

.each p:first-child,
.right p:last-child {
    width: 7rem;
}

.right p:first-child {
    background-color: var(--yellow);

}

.each {
    height: 2rem;
    display: flex;
    width: 100%;
    gap: 1rem;
}

.right {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.each p {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.right p:last-child {
    justify-content: flex-end;
}